<link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">

<div class="tabs-container">
    <div class="tabs-header">
        <button class="tab-button">Signos Vitales</button>
        <button class="tab-button">Evaluación Incial y Anamnesis</button>
        <button class="tab-button">Examen Físico Regional</button>
        <button class="tab-button">Revisión de Organos y Sistemas</button>
        <button class="tab-button">Diagnóstico</button>
        <button class="tab-button">Tratamiento</button>
        <button class="tab-button">Evolución</button>
    </div>

    
</div>